<html>

<head>
<link rel="stylesheet" href="/static/trial/css/form.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="account-wall">
			    <h2 style="text-align: center; font-family: Georgia, serif;"> Add New Doctor </h2>
                <form class="form-signin" action="/trial/add_doctor/" method="post">
				    {% csrf_token %}
                        <input type="text" class="form-control" placeholder="First name" name="first_name" required autofocus>
                        <input type="text" class="form-control" placeholder="Last name" name="last_name" required>
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="font-family: Georgia, serif; background-color: rgb(18, 79, 65);">
					      Add </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>