<html>

<head>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Graduate" rel="stylesheet">
<link rel="stylesheet" href='/static/trial/css/styles.css'>
<script type="text/javascript" src="/static/trial/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/trial/js/main_page.js"></script>
</head>

{% load app_filters %}
<body id="body_el">
<a name="top"></a>
{% include "trial\navbar.html" %}
<div style="overflow: auto; position: relative; height: auto; min-height: 92.4%;">
<h2 id="top_head"> Products List </h2>

    <div class="form-inline" id="search_form" >
        <label> &nbsp &nbsp Search by name: &nbsp
            <input type="text" class="form-control" id="product_name" placeholder="Type product name" name="name" list="products" autocomplete='off'>
                <datalist id="products"></datalist>
            <button class="btn btn-default" type="button" id="go_search" onclick="findProduct();">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </label>
    </div>

<hr>
<div id="table_container" style="margin-bottom: 7%;">
	<table class="table table-striped">
		<tr>
			{% for field in f_names %}
				<th> {{ field }} </th>
			{% endfor %}
            
            {% if user.is_staff %}
                <th> Prescribed by </th>
            {% endif %}
            
            {% if user.is_authenticated %}
                <th> </th>
            {% endif %}
		</tr>
		{% for drug in d_list %}
		<tr>
		    <td>
                {% if user.is_staff %} 
                    <a href="/trial/product_page?id={{drug.0}}">{{ drug.1 }}</a>
                {% else %}
                    {{ drug.1 }}
                {% endif %}
            </td>
			{% for drug_name in drug.2 %}
				<td> {{ drug_name | prepend_dollars }} </td>
			{% endfor %}
            
        {% if user.is_staff %}
        <td> 
            <select id="doctor_{{ drug.0 }}" style="border-radius: 3px;">
                <option> *Select doctor </option>
                {% for d in doctors %}
                    <option> {{ d }} </option>
                {% endfor %}
            </select>
        </td>
        {% endif %}
        
		{% if user.is_authenticated %}
            {% if user.is_staff %}
                <td onmouseover="show_input({{ drug.0 }})" onmouseout="hide_input({{ drug.0 }})"> 
                    <input type="number" class="form-control hideIt" id="panel_{{ drug.0 }}">
                    <span class="glyphicon glyphicon-plus plus" aria-hidden="true" onclick="change_amount({{ drug.0 }}, 1)" title="Add" style="cursor: pointer;"></span>
                    <span class="glyphicon glyphicon-minus minus" aria-hidden="true" onclick="change_amount({{ drug.0 }}, -1)" title="Sell" style="cursor: pointer;"></span>
                </td>
            {% else %}
                <td> 
                    <input type="number" id="panel_{{ drug.0 }}" style="width: 50px; float: left; border-radius: 2px;">
                    <span> &nbsp </span>
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" onclick="make_order({{ drug.0 }})" title="Make an order" style="cursor: pointer;"></span>
                </td>
            {% endif %}
		{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
{% include "trial\footer.html" %}
</div>
<script src="/static/trial/js/trading.js"></script>
</body>
</html>