<html>
<head>
<link rel="stylesheet" href="/static/trial/css/product_page.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Graduate" rel="stylesheet">
</head>

<body id="body">
<div id="wrap">
    <div id="inner_wrap">
	    <p> &nbsp </p>
		<p> &nbsp </p>
		<h1 id="main_header"> {{ name }} </h1>
		<h3 id="additive"> (product info) </h3>
	    <div id="container">
		    <p> &nbsp </p>
			<table class="table table-condensed table-bordered">
			<tr class="rdonly">
				<td>Product </td>
				<td>{{ name }}</td>
			</tr>
			<tr>
				<td>Form </td>
				<td contenteditable="true" id="form" title="Click to edit">{{ form }}</td> 
			</tr>
			<tr>
				<td>Total dosage </td>
				<td contenteditable="true" id="total_dosage" title="Click to edit">{{ total_dosage }}</td> 
			</tr>
			<tr> 
				<td>Manufacturer </td>
				<td contenteditable="true" id="manufacturer" title="Click to edit">{{ manufacturer }}</td> 
			</tr>
			<tr>
				<td>Category </td>
				<td contenteditable="true" id="category" title="Click to edit">{{ category }}</td> 
			</tr>
			<tr>
				<td>Price ($) </td>
				<td contenteditable="true" id="price" title="Click to edit">{{ price }} </td>
			</tr>
			<tr class="rdonly">
				<td>Amount </td>
				<td>{{ amount }} </td>
			</tr>
			</table>
			<button type="button" class="btn btn-primary" id="save" onclick="if (confirm('Are you sure?')) saveChanges('{{ id }}');">Save changes</button>
			<button type="button" class="btn btn-danger" id="del" onclick="if (confirm('Are you sure?')) deleteDrug('{{ id }}');" >Delete this product</button>
		</div>
		<h4 id="bot"> *Click on the value to edit </h4>
			<p> &nbsp </p>
			<p> &nbsp </p>
			<p> &nbsp </p>
			<p> &nbsp </p>
		<h2 id="back"><a href="/trial/">Back to main page</a></h2>
	</div>
</div>
<script src="/static/trial/js/product_page.js"> </script>
</body>

</html>