#body {
	background-image: url("/static/trial/images/stat_bg.jpg");
    height: 89%;
}

#wrap {
	margin: 5% auto;
	width: 1000px;
	background-color: #fcfcfc;
	position: relative;
}

#container {
	background-color: white;
	margin: 0 auto;
    margin-top: 1%;
	width: 90%;
}

.table {
	font-size: 20px;
	font-family: 'Archivo Narrow', sans-serif;
}

.headers {
    text-align: center;
}

#del {
	float: right;
	margin-right: 10%;
	margin-bottom: 1%;
}

#save {
	margin-left: 5%;
	margin-bottom: 1%;
}

#main_header {
	font-family: Impact, fantasy;
	text-align: center;
}

#product_image {
    margin-top: 2%;
    margin-left: 2%;
}

#bot {
	float: right;
	margin-right: 10%;
    margin-top: 0%;
}

#back {
	text-align: center;
}

.right {
    float: right;
}

.rdonly {
	background-color: #eaedf2;
	cursor: default;
}

td {
	text-align: center;
}

tr td:nth-of-type(1) {
	font-weight: bold;
}