#body_el {
	background: rgb(255,255,255);
}

.table {
	font-family: 'Archivo Narrow', sans-serif;
}

#top_head {
	font-family: 'Graduate', cursive;
	text-align: center;
}

.hideIt {
	padding: 1px;
	width: 40px;
	height: 20px;
    visibility: hidden;
}

.imagetip span {
    left: 116px;
    position: absolute;
    visibility: hidden;
    width: 0%;
    z-index: 9999;
}

.pop-up-image {
    width: 200px;
    height: 200px;
}

.imagetip:hover span {
    visibility: visible;
}

.hideIt, .plus, .minus {
	float: left;
}

#search_form {
	width: 30%;
}

#go_search {
    height: 34px;
}

#table_container {
    margin-bottom: 11%;
}

#mobile_only {
    display: none;
}

@media only screen and (max-width: 800px) {
    
    #footer {
        font-size: 0.8em;
    }
    
    .pop-up-image {
        width: 100px;
        height: 100px;
    }
    
}

@media only screen and (max-width: 600px) {
    
    #mobile_only {
        display: inline;
    }
    
    .navbar-nav {
        display: none;
    }
    
    #search_form {
        width: 100%;
    }
    
    .pop-up-image {
        width: 60px;
        height: 60px;
    }
    
    #table_container {
        margin-bottom: 70px;
    }
    
    #footer {
        font-size: 0.65em;
    }
}